:root {
    --main-font-style: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --main-background-color: #010024;
    --footer-text-color: #f5f5f5;
    --main-font-colour: #7b8391;
    --main-font-style: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
    
    html,body{
    overflow: none;
    height: 100%; 
}
    .warning_message_container{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #user_message_error{
        font-family: var(--main-font-style);
        margin-right: 30px;
        padding: 0.5em;
        list-style: none;
        border-radius: 20px;
        background-color: aliceblue;
        color: black;
    }

    #base-body-main {
        margin: 1rem auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* outline: 1px solid rgb(118, 208, 76); */
        background-color: var(--main-background-color);
        align-items: center;    
    }


    #page-container{
        display: flex;
        min-height: 100%;
        flex-direction: column;
    }

    #base-header-container{
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: transparent; 
        height: 3em;
        transition: all 0.3s ease-in-out; 
        z-index: 10;
        
    }

    #base-header-container.scroll-state{
        background-color: #261C32FF;
        justify-self: center;
        width: 90%;
        transform: translateX(4.2em); 
        width: 90%;
        border-radius: 10px;
    }

    .logo-image-container,.nav_main_text_group, .user_sign_in_up_button_group{
        justify-content: center;
        display: flex;
        gap: 1em;
        flex-direction: row;
    }

    #base-header-list{
        width: 95%;
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 4em;
        justify-content: space-between;
        align-items: center;

    }

    .features-header:after{
        position: absolute;
        content: "";
        top: 10px;
        margin-left: 2px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: var(--main-font-colour) transparent transparent transparent;

    }

    .ecko-slogan-tag{
        margin-bottom: 0.5em;
        font-size: 2em;
        color: whitesmoke;
        font-weight: 500;
        font-family: var(--main-font-style);


    }

    .header-list-text{
        position: relative;
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
        font-family: var(--main-font-style);
        color:#7b8391;
        transition: transform  0.2s ease-in-out,color 0.2s ease-in-out ;
    }

    .header-list-text:hover{
        transform: scale(1.04);
        color: antiquewhite;
    }



    .logo-image-container > img{
        height: 2em;
        width: auto;


    }
    /* LOGIN/SIGNUP BUTTONS*/
    .sign_in_button_header, .sign_up_button_header{
        padding: 0.4em 1em;

    }

    .sign_in_button_header{
        color: #595bd7;
    }

    .sign_up_button_header{
        color: white;   
        border-radius: 7px;
        background-color: #3e41c8;
    }

    main{
        /* outline: var(--outline-basic-setting); */
        width: 99%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    #main-page-footer-divider-tag{
        background-color: #565e6c;
        border-style: none;
        width: 90%;
        height: 2px;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: center;    
        width: 100%;
    }

    .footer-main{
        display: inline-grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: [row1-start] 70% [row1-end] auto;
        width: 80%
    }

    .footer-main-upper-information{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        align-items: start; 
        font-family: var(--main-font-style);
        font-weight: 700;
    }
/* 
    .product-footer-grid-section, .company-footer-grid-section{
        align-self: start !important;
    } */


    .footer-info p{
        color: var(--footer-text-color);
    }

        
    .footer-info p:not(:first-child){
        font-size: small;
        font-weight: 200 !important;
    }

    .footer-info p:not(:first-child):hover{
            cursor: pointer;

    }

    .footer-info-title{
        color: var(--footer-text-color);
        font-size: 1.2em;

    }

    #ecko-logo-footer > img{
        width: 10em;
        height: auto;
    }

    .footer-main-lower-informatinon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .footer-bottom-section{
        width: 100%;
        justify-content: space-between;
        display: inline-flex;
        align-items: center;
    }


    .footer-bottom-section > p{
        font-family: var(--main-font-style);
    }


    #subscription-footer-grid-section-container > div p:first-child{
        font-size: 1.2em;
        font-weight: bold;
        color: #6652f3 !important;

    }

    #subscription-footer-grid-section-container > div p{
        font-size: small;
        color:var(--main-font-colour);
        font-weight: 200;
        
    }

    #footer-user-subscription{
        display: inline-flex;
        flex-direction: row;

    }

    #footer-user-subscription input{
        border-radius: 6px 0px 0px 6px; /* border-tl-m border-bl-m */
        border-width: 1px; 
        border-color: #565E6CFF; /* neutral-600 */
        border-style: solid; 
        height: 2em;
        width: 15rem;
        outline: none; 
        background-color: #010024;
        color: #f5f5f5;
    }

    #footer-user-subscription button{
        border-style: none;
        border-radius: 0px 6px 6px 0px;
        background-color: var(--font-color-purple);
        color: white;
    }

    #footer-user-subscription button:hover{
        cursor: pointer;
    }