<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/risk_list.css') }}">

    {% if title %}
        <title>{{ title }} --Miniblog</title>
    {% else %}
        <title>Guest's --Miniblog</title>
    {% endif %}
</head>

<body id="base-body-main">
    <div id="page-container">
        <header id="base-header-container">
            <nav id="base-header-wrapper" style="width: 100%;">
                <ul id="base-header-list">
                    <div class="logo-image-container">
                        <img src="{{ url_for('static', filename='images/ecko_logo.png') }}" alt="main_ecko_logo">
                    </div>
                    <div class="nav_main_text_group">
                        <li><a class="header-list-text features-header" href="">Features</a></li>
                        <li><a class="header-list-text" href="{{ url_for('about') }}">About us</a></li>
                        <li><a class="header-list-text" href="{{ url_for('contact') }}">Contact</a></li>
                        <li><a class="header-list-text" href="">Blog</a></li>
                        <li><a class="header-list-text" href="{{ url_for('index') }}">Support</a></li>
                        <li><a class="header-list-text" href="{{ url_for('home_page') }}">Home Page</a></li>
                        <li><a class="header-list-text" href="{{ url_for('index') }}">Main Page</a></li>
                        <li><a class="header-list-text" href="{{ url_for('help_page') }}">Tutorials</a></li>
                        <li><a class="header-list-text" href="{{ url_for('risks') }}">Risk List</a></li>
                        <li><a class="header-list-text" href="{{ url_for('report_builder') }}">Report Builder</a></li>
                    </div>

                    <div class="user_sign_in_up_button_group">
                        {% if current_user.is_anonymous %}
                        <li><a class="header-list-text sign_in_button_header" href="{{ url_for('login') }}">Sign in</a></li>
                        <li><a class="header-list-text sign_up_button_header" href="{{ url_for('login') }}">Sign up</a></li>
                        {% else %}
                        <li class="header-list-text">Hello {{ current_user.username }}!</li>
                        <li><a class="header-list-text" href="{{ url_for('logout') }}">Logout</a></li>
                        {% endif %}
                    </div>
                </ul>
            </nav>
        </header>

        <div class="warning_message_container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li id="user_message_error">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        <main style="flex: 1; margin-top: 5em;">
            {% block content %}{% endblock %}
        </main>

        <hr id="main-page-footer-divider-tag">

        <footer>
            <div class="footer-main">
                <div class="footer-main-upper-information">
                    <div id="ecko-logo-footer" style="padding-top: 1em;">
                        <img srcset="{{ url_for('static', filename='images/ecko_logo.png') }}" alt="ecko_logo">
                    </div>

                    <div class="footer-info">
                        <p class="footer-info-title">Product</p>
                        <p>Features</p>
                        <p>Pricing Plans</p>
                    </div>

                    <div class="footer-info">
                        <p class="footer-info-title">Resources</p>
                        <p>Contact Us</p>
                        <p>User guides</p>
                        <p>Terms of Use</p>
                        <p>Privacy Policy</p>
                    </div>

                    <div class="footer-info">
                        <p class="footer-info-title">Company</p>
                        <p>About us</p>
                    </div>

                    <div id="subscription-footer-grid-section-container">
                        <div>
                            <p>Subscribe to our newsletter</p>
                            <p style="margin-top: -1em; margin-bottom: 2em;">To keep up with the latest Vulnerability trends</p>
                        </div>

                        <form id="footer-user-subscription">
                            <input placeholder="Input Your Email">
                            <button>Subscribe</button>
                        </form>
                    </div>
                </div>

                <div class="footer-main-lower-information">
                    <p class="ecko-slogan-tag">Vulnerability Detection that Resonates</p>
                    <div class="footer-bottom-section">
                        <div style="color: #010024">dontremove</div>
                        <p style="color:#7b8391; font-size: xx-small;">Established 1579</p>
                        <div class="social-media-svg-container">
                            <picture class="social-media-icon facebook">
                                <source srcset="https://img.icons8.com/color/48/facebook-new.png" type="image/png+xml">
                                <source srcset="{{ url_for('static', filename='images/icon-facebook.svg') }}" type="image/svg+xml">
                                <img width="22" height="22" src="{{ url_for('static', filename='images/icon-facebook.png') }}" alt="Facebook">
                            </picture>
                            <picture class="social-media-icon twitter">
                                <source srcset="https://img.icons8.com/color/48/twitter--v1.png" type="image/png+xml">
                                <img width="22" height="22" src="{{ url_for('static', filename='images/icon-twitter.png') }}" alt="twitter--v1"/>
                            </picture>
                            <picture class="social-media-icon linkedin">
                                <source srcset="https://img.icons8.com/color/48/linkedin.png" type="image/png+xml">
                                <img width="22" height="22" src="{{ url_for('static', filename='images/icon-linkdin.svg') }}" alt="linkedin"/>
                            </picture>
                            <picture class="social-media-icon youtube">
                                <source srcset="https://img.icons8.com/color/48/youtube-play.png" type="image/png+xml">
                                <img width="22" height="22" src="{{ url_for('static', filename='images/icon-youtube.svg') }}" alt="youtube"/>
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/help_page.js') }}"></script>
</body>
</html>
