{% extends 'base.html' %}

    {% block content %}
        <div class="help_page_main_container">
            <div class="feature-section-container">
                <h1 class="help_text" style="justify-self: center;">Explore Tutorials and learn ECKO's Major Features</h1>
                <div id="tutorial-box-container">
                    <div class="tutorial-box1 tut-box">
                        <picture>
                            <source srcset="{{ url_for('static', filename='images/inbox-guide-image.png' )}}" type="image/png+xml">
                            <img src="{{ url_for('static', filename='images/inbox-guide-image.png' )}}" alt="inbox-image"/>
                        </picture>
                        <p class="box-header-tag help_text">Inbox Guide</p>
                        <p class="box-description  help_text">Learn how to organize emails effectively.<br>Master filters, labels, and shortcuts.</p>
                        <a href="{{ url_for('static',filename='images/gif/cat.gif')}}"><button class="box-star-tut-button">Start Tutorial</button></a>
                    </div>
                    <div class="tutorial-box2 tut-box">
                        <picture>
                            <source srcset="{{ url_for('static', filename='images/calender-tip-image.png' )}}" type="image/png+xml">
                            <img src="{{ url_for('static', filename='images/calender-tip-image.png' )}}" alt="calender-image"/>
                        </picture>
                        <p class="box-header-tag help_text">Calender Tips</p>
                        <p class="box-description help_text">Discover event scheduling techniques.<br>Optimize your calendar usage.</p>
                        <a href="{{ url_for('static',filename='images/gif/cat.gif')}}"><button class="box-star-tut-button">Start Tutorial</button></a>
                    </div>
                    <div class="tutorial-box3 tut-box">
                        <picture>
                            <source srcset="{{ url_for('static', filename='images/group-image.png' )}}" type="image/png+xml">
                            <img src="{{ url_for('static', filename='images/group-image.png' )}}" alt="group-image"/>
                        </picture>
                        <p class="box-header-tag help_text">Groups & Contacts</p>
                        <p class="box-description help_text">Manage contacts and create groups.<br>Enhance collaboration and communication.</p>
                        <a href="{{ url_for('static',filename='images/gif/cat.gif')}}"><button class="box-star-tut-button">Start Tutorial</button></a>
                    </div>  
                </div>
            </div>
            
            <div id="help-section-2-search-container" style="margin-top: 5em;">
                <div class="help-section-2-search-wrapper">
                    <input id="help-search" class="animate-on-scroll" placeholder="Search...">
                    <div class="section2-text-container animate-on-scroll" style="margin-top: 2em;">
                        <div class="section2-text-wrapper-1" >
                        <h3 class="help_text">Getting Started</h3>
                        <p class="help_text">Product security<br>Article on securing our products</p>
                        </div>
                        <div class="section2-text-wrapper-2 animate-on-scroll">
                            <h3 class="help_text">Best Practices</h3>
                            <p class="help_text">Data protection Policy<br>Policy governing data security measures.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="help-section-3-glossary-container">
                <h2 class="help_text animate-on-scroll" style="text-align: center;">
                    Glossary
                </h2>
                <div class="glossary-A glossary-text animate-on-scroll">
                    <h3 class="help_text">A</h3>
                    <p class="help_text">
                        <b>Administrative Security:</b> Precautions taken to manage and mitigate risk within an organization, such as implementing policies and procedures.<br>
                        <b>Anti-Malware:</b> Software designed to detect, prevent, and remove malicious software (malware) from computer systems and networks.<br>
                        <b>Awareness Training:</b> Educational programs aimed at informing employees about security risks and safe practices to protect sensitive information.
                    </p>
                </div>
                <div class="glossary-B glossary-text animate-on-scroll">
                    <h3 class="help_text">B</h3>
                    <p class="help_text"><b>Biometric:</b> Unique physical or behavioral characteristics used to identify individuals, such as fingerprints, facial recognition, or voice patterns.<br>
                        <b>Blacklist:</b> A list of entities, such as IP addresses or domains, that are prohibited from accessing a system or network due to malicious activity.<br>
                        <b>Blue Team:</b> The internal group responsible for defending an organization's information systems against cyber threats and attacks.
                    </p>

                    
                </div>
                <div class="glossary-C glossary-text animate-on-scroll">
                    <h3 class="help_text">C</h3>
                    <p class="help_text"><b>Cybersecurity:</b> The practice of protecting computer systems, networks, and data from unauthorized access, attacks, and damage.<br>
                    <b>Credential:</b> A set of information, such as a username and password, used to verify a user's identity and grant access to a system or account.<br>
                    <b>Cloud Security:</b> Measures and protocols implemented to protect data and applications stored in cloud computing environments from cyber threats and unauthorized access.
                </p>
                </div>
            </div>
            <div class="help-section-4-glossary-container animate-on-scroll">
                <div class="help-section-4-glossary-wrapper">
                    <div class="contact-support-picture-panel-left">
                        <h3 class="help_text" style="font-size: 2em; margin-bottom: -20px;">Contact Support</h3>
                        <p class="help_text" style="color: rgb(164, 164, 164);" >Fill in the form to get in touch</p>
                        <picture id="tech-support-image">
                            <source srcset="{{ url_for('static', filename='images/contact-support-image.png' )}}" type="image/png+xml">
                            <img src="{{ url_for('static', filename='images/contact-support-image.png' )}}" alt="people-looking-sad-image"/>
                        </picture>
                    </div>
                    <div class="contact-support-user-input-forms ">
                        <form>
                            <div id="form-name-container" style="width: 100%; margin-left: 3em;">
                                <div class="first-name-wrapper">
                                    <h4>First Name</h4>
                                    <input placeholder="Input text" style="width: 110%;">
                                </div>
                                <div class="last-name-wrapper">
                                    <h4>Last Name</h4>
                                    <input placeholder="Input text" style="width: 110%;">
                                </div>
                            </div>
                            <div class="form-email-container form-info">
                                <h4>Email</h4>
                                <input placeholder="example@mail.com">
                            </div>
                                                     
                            <div class="form-company-container form-info">
                                <h4>Company</h4>
                                <input placeholder="Input text">
                            </div>
                            <div class="form-topic-container form-info">
                                <h4>Which topic best fits your needs?</h4>
                                <input placeholder="Please Select">
                            </div>

                            <div class="form-topic-container">
                                <h4>How can we help?</h4>
                                <textarea placeholder="Please share more details for us to ignore"  rows="5" cols="52" style="resize: none;"></textarea>
                            </div>
                            <button id="submit-button">Submit</button>
                            
                        </form>
                    </div>

                </div>
            </div>
        </div>


    {% endblock %}